html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

.form {
  width: 92%;
  padding-top: 24px;
  margin: 0 auto;
  color: #676767; }
  @media (min-width: 1000px) {
    .form {
      width: 100%;
      margin-bottom: 50px; } }
  @media (min-width: 1400px) {
    .form {
      width: 49.3%;
      margin: 0;
      padding-top: 15px; } }
  .form .form-header {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300; }
  .form .form-paragraph {
    padding-bottom: 26px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase; }
  .form .form-row {
    margin-bottom: 17px; }
    .form .form-row input {
      font-size: 12px;
      box-shadow: none; }
  .form .form-row:last-of-type {
    margin: 0; }
  .form .form-control {
    padding: 10px 22px;
    width: 100%;
    font-weight: 300;
    border: 1px solid #909090; }
    .form .form-control::placeholder {
      text-transform: uppercase; }
  .form .text {
    min-height: 150px; }
  .form .btn-form {
    width: 100%;
    border: 0;
    background-color: #ff7200;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 14px;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 18px 0; }
    @media (min-width: 1400px) {
      .form .btn-form {
        width: 50%;
        float: right; } }
  .form .error {
    background: url("../icons/error.svg");
    background-position: calc(100% - 15px) center;
    background-repeat: no-repeat;
    border: 1px solid #c42955;
    background-color: #FFFFFF; }
  .form .correct {
    background: url("../icons/correct.svg");
    background-position: calc(100% - 15px) center;
    background-repeat: no-repeat;
    border: 1px solid #29c4b7;
    background-color: #FFFFFF; }

input[type='number'] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 9999px #fff;
  box-shadow: inset 0 0 0 9999px #fff; }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

.boxes {
  display: none;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center; }
  @media (min-width: 1780px) {
    .boxes {
      width: 1420px;
      margin: 0 auto;
      padding: 0; } }
  @media (min-width: 1000px) {
    .boxes {
      display: block;
      overflow: hidden;
      padding: 20px 10% 20px 10%; } }
  @media (min-width: 1400px) {
    .boxes {
      display: flex;
      margin: 0 auto;
      padding: 0 10%;
      justify-content: space-between; } }
  @media (min-width: 1780px) {
    .boxes {
      padding: 0; } }

.box:nth-of-type(1) {
  margin-right: 10%;
  margin-bottom: 20px; }
  @media (min-width: 1400px) {
    .box:nth-of-type(1) {
      margin-right: 0;
      margin-bottom: 0; } }
  .box:nth-of-type(1) .icon-box {
    color: #f34f66;
    border-color: #f34f66; }
  .box:nth-of-type(1) .button-box {
    background-color: #f34f66; }

.box:nth-of-type(2) {
  margin-bottom: 20px; }
  @media (min-width: 1400px) {
    .box:nth-of-type(2) {
      margin-bottom: 0; } }
  .box:nth-of-type(2) .icon-box {
    color: #29c4b7;
    border-color: #29c4b7;
    transform: rotate(-40deg); }
  .box:nth-of-type(2) .button-box {
    background-color: #29c4b7; }

.box:nth-of-type(3) {
  margin-right: 10%; }
  @media (min-width: 1400px) {
    .box:nth-of-type(3) {
      margin-right: 0;
      margin-bottom: 0; } }
  .box:nth-of-type(3) .icon-box {
    color: #9e47b4;
    border-color: #9e47b4; }
  .box:nth-of-type(3) .button-box {
    background-color: #9e47b4; }

.box:nth-of-type(4) .icon-box {
  color: #58b222;
  border-color: #58b222; }

.box:nth-of-type(4) .button-box {
  background-color: #58b222; }

.box {
  width: 45%;
  float: left;
  position: relative;
  color: #676767; }
  @media (min-width: 1400px) {
    .box {
      min-height: 300px;
      margin-top: 32px;
      width: 24%; } }

.box-content {
  background-color: #FFFFFF;
  min-height: 477px;
  padding-top: 40px;
  display: flex;
  flex-flow: column;
  align-items: center; }
  .box-content img {
    height: 100px;
    width: 100px; }

.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  width: 120px;
  border-radius: 100px;
  border: 5px solid;
  font-size: 45px; }
  @media (min-width: 1600px) {
    .icon-box {
      height: 153px;
      width: 153px;
      font-size: 70px; } }

.box-title {
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 24px;
  line-height: 26px; }
  @media (min-width: 1600px) {
    .box-title {
      padding-top: 24px;
      padding-bottom: 35px;
      font-size: 26px;
      line-height: 26px; } }

.box-description {
  font-size: 16px;
  line-height: 26px;
  padding: 0 12% 0 12%; }

.button-box {
  font-size: 20px;
  line-height: 16px;
  min-width: 200px;
  height: 45px;
  padding: 15px 0;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  bottom: 40px; }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

.intro {
  margin-top: 21px;
  letter-spacing: 0.2px; }
  @media (min-width: 1000px) {
    .intro {
      padding: 0 10%;
      margin-top: 40px; } }
  @media (min-width: 1780px) {
    .intro {
      width: 1420px;
      margin: 40px auto;
      padding: 0; } }

.intro-wrapper {
  box-sizing: content-box;
  margin: 0 auto;
  background-color: #ededed;
  padding: 20px 3% 20px 4%;
  margin: 0 4%; }
  @media (min-width: 1000px) {
    .intro-wrapper {
      box-sizing: border-box;
      display: flex;
      width: 100%;
      padding: 0;
      margin: 0; } }
  .intro-wrapper .intro-text {
    padding-bottom: 56px; }
    @media (min-width: 1000px) {
      .intro-wrapper .intro-text {
        padding: 21px 1.5% 31px 1.5%; } }
  .intro-wrapper .header-intro {
    font-size: 32px;
    line-height: 41px;
    font-weight: 500;
    color: #393c46; }
  .intro-wrapper .paragraph-intro {
    font-size: 18px;
    line-height: 26px;
    color: #676767;
    font-weight: 400;
    padding-top: 20px; }

.button-intro {
  padding: 16px 66px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #f34f66;
  color: #FFFFFF;
  border: 0px;
  margin: 0 auto;
  display: block; }
  @media (min-width: 1000px) {
    .button-intro {
      align-self: center;
      margin-right: 22px; } }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

.article {
  background-color: #FFFFFF;
  color: #676767;
  padding-bottom: 30px;
  overflow: hidden;
  margin-top: 20px; }
  @media (min-width: 1000px) {
    .article {
      margin-top: 0; } }
  @media (min-width: 1400px) {
    .article {
      width: 49.3%; } }
  .article .article-img {
    display: block;
    padding: 0px;
    width: 100%;
    height: 235px;
    background-image: url("../img/article2.jpg");
    background-position: center;
    background-size: cover; }
    @media (min-width: 1000px) {
      .article .article-img {
        width: 45%;
        float: left;
        margin-bottom: 4px;
        margin-right: 15px; } }
    @media (min-width: 1400px) {
      .article .article-img {
        width: 48%;
        margin-right: 3%;
        min-height: 242px; } }
  .article .article-wrapper-inside {
    width: 92%;
    margin: 0 auto;
    padding-top: 15px; }
    @media (min-width: 1000px) {
      .article .article-wrapper-inside {
        width: 100%;
        padding-left: 3%;
        padding-right: 3%; } }
  .article .article-date {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300; }
  .article .article-header {
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase; }
    @media (min-width: 1780px) {
      .article .article-header {
        padding-bottom: 30px; } }
  .article .article-lead {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    padding-bottom: 10px; }
  .article .article-paragraphs {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400; }
  .article .article-nav {
    float: right;
    padding-top: 15px;
    color: #ff7200;
    font-weight: 700;
    cursor: pointer; }

.article-arrow::before {
  font-family: "FontAwesome";
  content: '\F061';
  display: inline-block;
  margin-left: 2px; }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

.banner {
  position: relative;
  min-height: 100vh;
  z-index: 0; }

.slider1 {
  background: url("../img/slider1.jpg") no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
  z-index: -1;
  background-size: cover;
  background-position: 60%; }
  @media (min-width: 1000px) {
    .slider1 {
      background-position: 0 70px; } }

.slider2 {
  background: url("../img/slider2.jpg") no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
  z-index: -1;
  background-size: cover;
  background-position: 60%; }
  @media (min-width: 1000px) {
    .slider2 {
      background-position: 0 70px; } }

.slider3 {
  background: url("../img/slider3.jpg") no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
  z-index: -1;
  background-size: cover;
  background-position: 60%; }
  @media (min-width: 1000px) {
    .slider3 {
      background-position: 0 70px; } }

.slider4 {
  background: url("../img/slider4.jpg") no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
  z-index: -1;
  background-size: cover;
  background-position: 60%; }
  @media (min-width: 1000px) {
    .slider4 {
      background-position: 0 70px; } }

.banner-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1; }
  @media (min-width: 1000px) {
    .banner-content {
      padding: 0 10%;
      position: static;
      z-index: 0;
      width: auto; } }
  @media (min-width: 1780px) {
    .banner-content {
      padding: 0;
      width: 1420px;
      margin: 0 auto; } }

.slider-dots {
  display: none; }
  @media (min-width: 1000px) {
    .slider-dots {
      display: inline-block;
      padding-top: 32px;
      padding-bottom: 50px; } }
  @media (min-width: 1950px) {
    .slider-dots {
      padding-bottom: 89px; } }

.dots {
  display: inline-block;
  height: 22px;
  width: 22px;
  margin-right: 8px;
  border-radius: 22px;
  border: 1px solid #FFFFFF;
  background-color: #b4c1c7;
  transition: background-color 0.5s;
  cursor: pointer; }

.activedot {
  background-color: #FFFFFF; }

.banner-header {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  padding: 47px 0 0 8%;
  background-color: rgba(124, 132, 154, 0.6); }
  .banner-header span {
    display: block;
    text-transform: uppercase; }
  .banner-header span:nth-of-type(1) {
    color: #1d2027;
    font-size: 28px; }
  .banner-header span:nth-of-type(2) {
    color: #1d2027;
    font-size: 65px; }
  .banner-header span:nth-of-type(3) {
    color: #FFFFFF;
    font-size: 65px;
    margin-top: -42px; }
  @media (min-width: 480px) {
    .banner-header span {
      display: block;
      text-transform: uppercase; }
    .banner-header span:nth-of-type(1) {
      color: #1d2027;
      font-size: 32px; }
    .banner-header span:nth-of-type(2) {
      color: #1d2027;
      font-size: 85px; }
    .banner-header span:nth-of-type(3) {
      color: #FFFFFF;
      font-size: 88px;
      margin-top: -40px; } }
  @media (min-width: 1000px) {
    .banner-header {
      padding: 0;
      background-color: transparent; }
      .banner-header span:nth-of-type(1) {
        font-size: 36px; }
      .banner-header span:nth-of-type(2) {
        font-size: 78px; }
      .banner-header span:nth-of-type(3) {
        color: #FFFFFF;
        font-size: 83px;
        margin-top: -48px; } }
  @media (min-width: 1780px) {
    .banner-header span:nth-of-type(1) {
      font-size: 50px; }
    .banner-header span:nth-of-type(2) {
      font-size: 137px; }
    .banner-header span:nth-of-type(3) {
      color: #FFFFFF;
      font-size: 138px;
      margin-top: -86px; } }

.paragraphs-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(124, 132, 154, 0.6);
  padding-left: 8%;
  padding-top: 15px; }
  @media (min-width: 1000px) {
    .paragraphs-container {
      background-color: transparent;
      padding-left: 0%;
      padding-top: 10px; } }

.header-paragraph {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  padding-bottom: 55px;
  color: #25272c; }
  @media (min-width: 480px) {
    .header-paragraph {
      font-size: 41px; } }
  @media (min-width: 1000px) {
    .header-paragraph {
      padding-bottom: 35px; } }
  @media (min-width: 1780px) {
    .header-paragraph {
      font-size: 62px; } }

.standard-paragraph {
  display: none; }
  @media (min-width: 1000px) {
    .standard-paragraph {
      display: block;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 1px;
      font-weight: 300; } }
  @media (min-width: 1780px) {
    .standard-paragraph {
      display: block;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 0px;
      font-weight: 400; } }

.column-left,
.column-right {
  color: #FFFFFF; }
  @media (min-width: 1000px) {
    .column-left,
    .column-right {
      width: 50%;
      background-color: transparent; } }
  @media (min-width: 1200px) {
    .column-left,
    .column-right {
      width: 40%;
      background-color: transparent; } }

.column-left {
  margin-right: 10%; }

.button-wrapper {
  display: flex; }
  @media (min-width: 1000px) {
    .button-wrapper {
      width: 50%;
      padding-bottom: 50px;
      justify-content: flex-end;
      padding-right: 10%; } }

.button {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  padding: 26px 0;
  background-color: #ff7200;
  color: #FFFFFF;
  border: 0px;
  text-transform: uppercase; }
  @media (min-width: 1000px) {
    .button {
      width: auto;
      padding: 15px 40px;
      margin-top: 55px; } }
  @media (min-width: 1780px) and (min-height: 1000px) {
    .button {
      font-size: 28px;
      padding: 25px 50px;
      margin-top: 120px; } }

.arrow-down {
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: center;
  height: 30px;
  width: 65px;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  background-color: rgba(124, 132, 154, 0.6);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }
  .arrow-down .arrow-down-white {
    height: 18px;
    align-self: center;
    margin-top: -5px;
    animation: arrow-bounce .8s infinite; }
    .arrow-down .arrow-down-white::before {
      font-family: "FontAwesome";
      content: '\f078';
      color: #FFFFFF;
      font-size: 20px;
      line-height: 26px; }
  @media (min-width: 1000px) {
    .arrow-down {
      display: flex; } }

@keyframes arrow-bounce {
  0% {
    margin-top: -5px; }
  50% {
    margin-top: 3px; }
  100% {
    margin-top: -5px; } }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif; }

a {
  display: block;
  height: 100%;
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

.main {
  background-color: #ededed; }
  @media (min-width: 1000px) {
    .main {
      margin-top: 40px;
      overflow: hidden; } }

.container-wrapper {
  margin: 20px auto; }
  @media (min-width: 1000px) {
    .container-wrapper {
      padding: 0 10%;
      margin: 0 auto; } }
  @media (min-width: 1400px) {
    .container-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 24px;
      padding-bottom: 26px; } }
  @media (min-width: 1780px) {
    .container-wrapper {
      width: 1420px;
      margin: 0 auto;
      padding: 20px 0 60px 0; } }

.opacity {
  opacity: 1; }

button {
  cursor: pointer; }
  button:hover {
    box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.18); }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

.header {
  background-color: #393c46;
  width: 100%;
  z-index: 3; }

.menu {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 2;
  background-color: #393c46; }
  @media (min-width: 1780px) {
    .menu {
      width: 1420px;
      margin: 0 auto;
      padding: 0; } }
  @media (min-width: 1000px) {
    .menu {
      position: relative; } }

.menu-show {
  height: 100%;
  overflow: auto;
  background-color: rgba(57, 60, 70, 0.6); }

.top-row {
  position: relative;
  min-height: 64px;
  padding: 0 8%;
  background-color: #393c46; }
  @media (min-width: 1780px) {
    .top-row {
      width: 1420px;
      margin: 0 auto;
      padding: 0; } }
  @media (min-width: 1000px) {
    .top-row {
      min-height: 128px;
      padding: 0 10%; } }
  @media (min-width: 1780px) {
    .top-row {
      padding: 0;
      min-height: 156px; } }

.img-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 35px;
  width: 140px;
  background-image: url("../logo/logomob.svg");
  background-size: contain;
  background-repeat: no-repeat; }
  @media (min-width: 1000px) {
    .img-logo {
      height: 95px;
      width: 165px;
      background-image: url("../logo/foobologo.svg"); } }
  .img-logo a {
    display: block;
    height: 100%; }

.hamburger {
  height: 100%;
  width: 69px;
  cursor: pointer;
  right: 0;
  top: 0;
  position: absolute; }
  @media (min-width: 1000px) {
    .hamburger {
      display: none; } }
  .hamburger:before {
    display: block;
    content: "";
    height: 40px;
    width: 1px;
    background-color: #FFFFFF;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 1s; }
  .hamburger .lines-wrapper {
    height: 40px;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .hamburger .topline, .hamburger .midline, .hamburger .bottline {
    position: absolute;
    left: 22px;
    display: block;
    width: 24px;
    height: 5px;
    background-color: #FFFFFF;
    transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    margin-top: 17px;
    border-radius: 3px; }
  .hamburger .topline {
    transform: translateY(-8px);
    animation-delay: 100ms; }
  .hamburger .bottline {
    transform: translateY(8px);
    animation-delay: 250ms; }
  .hamburger .rotateplus {
    transform: rotate(40deg); }
  .hamburger .hide {
    opacity: 0; }
  .hamburger .rotateminus {
    transform: rotate(-40deg); }

.active {
  background-color: #1d2027; }
  .active::before {
    background-color: #1d2027; }

.nav {
  display: none;
  background-color: #1d2027; }
  @media (min-width: 1780px) {
    .nav {
      width: 1420px;
      margin: 0 auto;
      padding: 0; } }
  @media (min-width: 1000px) {
    .nav {
      padding: 0 8% 0 0;
      display: block;
      position: absolute;
      background-color: transparent;
      bottom: 0;
      right: 0; } }
  @media (min-width: 1780px) {
    .nav {
      padding: 0; } }
  .nav a:hover {
    color: #adfff1; }

.ulcontent {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 26px;
  line-height: 22px;
  text-align: center; }
  @media (min-width: 1000px) {
    .ulcontent {
      text-align: right; } }

@media (min-width: 1000px) {
  .dropdown:hover .submenu {
    display: block; } }

.level1 {
  border-bottom: 1px solid #3a4541; }
  .level1 a {
    padding: 18px 0; }
  @media (min-width: 1000px) {
    .level1 {
      border-bottom: 0px;
      display: inline-block;
      position: relative; }
      .level1:hover {
        background-color: #1d2027; }
      .level1 a {
        padding: 20px 21px 22px 21px; } }

.level1.logg {
  display: none; }
  @media (min-width: 1000px) {
    .level1.logg {
      display: inline-block; }
      .level1.logg a {
        padding: 20px 12px 21px 12px; } }

.blue-arrow::before {
  font-family: "FontAwesome";
  content: "\f078";
  font-size: 15px; }

.log-in::before {
  font-family: "FontAwesome";
  content: "\f007";
  font-size: 20px; }

.submenu {
  display: none;
  font-size: 16px;
  background-color: #22252e;
  font-size: 16px;
  line-height: 26px; }
  .submenu .level2:first-of-type {
    border-top: 1px solid #3a4541; }
  .submenu .level2:last-of-type {
    border-bottom: 0px; }
  @media (min-width: 1000px) {
    .submenu {
      position: absolute;
      right: 0;
      padding: 0 3px;
      text-align: left;
      min-width: 195px;
      background-color: #1d2027; }
      .submenu .level2:first-of-type {
        border-top: 0px; } }
  .submenu .level2 {
    border-bottom: 1px solid #3a4541; }
    .submenu .level2 a {
      min-height: 50px;
      font-size: 16px;
      line-height: 50px; }
    @media (min-width: 1000px) {
      .submenu .level2 a {
        padding: 0 10px; } }

.show {
  display: block; }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

@font-face {
  font-family: FontAwesome;
  src: url("../fonts/fontawesome-webfont.ttf"); }

.footer {
  background-color: #2a2d35;
  color: #FFFFFF;
  padding: 35px 0 25px 0; }

@media (min-width: 1780px) {
  .footer-wrapper {
    width: 1420px;
    margin: 0 auto;
    padding: 0; } }

@media (min-width: 1000px) {
  .footer-wrapper {
    display: block;
    overflow: hidden;
    padding: 0 10%; } }

@media (min-width: 1400px) {
  .footer-wrapper {
    margin: 0 auto; } }

@media (min-width: 1780px) {
  .footer-wrapper {
    position: relative;
    padding: 0; } }

.footer-menu {
  overflow: hidden;
  display: none;
  float: left;
  min-width: 540px; }
  @media (min-width: 1000px) {
    .footer-menu {
      display: block; } }

.footer-header {
  font-size: 18px;
  line-height: 26px;
  padding-top: 21px;
  display: block; }

.footer-li {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 300;
  padding-left: 15px; }
  .footer-li::before {
    font-family: "FontAwesome";
    content: "\F1D0";
    display: inline-block;
    color: #ff7200;
    margin-right: 7px; }

.menu-1 {
  float: left;
  padding-right: 55px; }

.logo-media-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center; }
  @media (min-width: 1000px) {
    .logo-media-wrapper {
      align-items: flex-end; } }

.footer-logo {
  height: 95px;
  width: 165px;
  background-image: url("../logo/foobologo.svg");
  background-size: contain;
  background-repeat: no-repeat; }
  .footer-logo a {
    display: block;
    height: 100%; }
  @media (min-width: 1780px) {
    .footer-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 50px; } }

.socialmedia {
  display: flex;
  padding-bottom: 35px; }

.socialmedia-icon {
  cursor: pointer;
  display: block;
  height: 32px;
  width: 32px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  margin-right: 9px; }

.facebook {
  background-image: url("../icons/fbmono.png");
  background-position: center;
  transition: all 1s; }
  .facebook:hover {
    background-image: url("../icons/fbcolor.png"); }

.google {
  background-image: url("../icons/glmono.png");
  background-position: center;
  transition: all 1s; }
  .google:hover {
    background-image: url("../icons/glcolor.png"); }

.pinterest {
  background-image: url("../icons/pintmono.png");
  background-position: center;
  transition: all 1s; }
  .pinterest:hover {
    background-image: url("../icons/pintcolor.png"); }

.instagram {
  background-image: url("../icons/instmono.png");
  background-position: center;
  transition: all 1s; }
  .instagram:hover {
    background-image: url("../icons/instcolor.png"); }

.youtube {
  background-image: url("../icons/ytmono.png");
  background-position: center;
  transition: all 1s; }
  .youtube:hover {
    background-image: url("../icons/ytcolor.png"); }
