@import '_variables';
@import '_mixins';


.banner {
    position: relative;
    min-height: 100vh;
    z-index: 0;
}



.slider1 {

    background: url('../img/slider1.jpg') no-repeat;
    @include slider();
 
}

.slider2 {

    background: url('../img/slider2.jpg') no-repeat;
    @include slider();
}

.slider3 {

    background: url('../img/slider3.jpg') no-repeat;
    @include slider();
}

.slider4 {

    background: url('../img/slider4.jpg') no-repeat;
    @include slider();
}

.banner-content {

    position:absolute;
    bottom:0;
    width:100%;
    z-index: -1;
    
    @media (min-width: $small) {

        padding: $medium-padding;
        position: static;
        z-index: 0;
        width: auto;  
    }

    @media (min-width: $large) {

        padding: 0;
        width: 1420px;
        margin: 0 auto;
    }
    
}

.slider-dots {

    display: none;

    @media (min-width: $small) {
        
        display: inline-block;
        padding-top: 32px;
        padding-bottom: 50px;
    }

    @media (min-width: 1950px) {

        padding-bottom: 89px;
    }
}

.dots {

    display: inline-block;
    height: 22px;
    width: 22px;
    margin-right: 8px;
    border-radius: 22px;
    border: 1px solid $white;
    background-color: #b4c1c7;
    transition: background-color 0.5s;
    cursor: pointer;
}

.activedot {

    background-color: $white;
}
.banner-header {

    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding: 47px 0 0 8%;
    background-color: $transparent;

        span {
            display: block;
            text-transform: uppercase;
        }
        span:nth-of-type(1) {
            color: $dark-gr;
            font-size: 28px;
        }
        span:nth-of-type(2) {
            color: $dark-gr;
            font-size: 65px;
        }
        span:nth-of-type(3) {
            color: $white;
            font-size: 65px;
            margin-top: -42px;
        }

    @media (min-width: 480px) {

        span {

            display: block;
            text-transform: uppercase;
        }
        span:nth-of-type(1) {

            color: $dark-gr;
            font-size: 32px;
        }
        span:nth-of-type(2) {

            color: $dark-gr;
            font-size: 85px;
        }
        span:nth-of-type(3) {

            color: $white;
            font-size: 88px;
            margin-top: -40px;
        }
    }

    @media (min-width: $small) {

        padding: 0;
        background-color: transparent;
        span:nth-of-type(1) {

            font-size: 36px;
        }
        span:nth-of-type(2) {
            font-size: 78px;
        }
        span:nth-of-type(3) {

            color: $white;
            font-size: 83px;
            margin-top: -48px;
        }
    }
        
    @media (min-width: $large) {
    
        span:nth-of-type(1) {

            font-size: 50px;
        }
        span:nth-of-type(2) {

            font-size: 137px;
        }
        span:nth-of-type(3) {

            color: $white;
            font-size: 138px;
            margin-top: -86px;
        }
    }
}

.paragraphs-container {

    display: flex;
    flex-direction: row;
    background-color: $transparent;
    padding-left: 8%;
    padding-top: 15px;

    @media (min-width: $small) {

        background-color: transparent;
        padding-left: 0%;
        padding-top: 10px;
    }
}

.header-paragraph {

    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    padding-bottom: 55px;
    color: #25272c;
    
    @media (min-width: 480px) {
        
        font-size: 41px;
    }

    @media (min-width: $small) {

        padding-bottom: 35px;
        
    }
    @media (min-width: $large) {

        font-size: 62px;
    }
}

.standard-paragraph {

    display: none;

    @media (min-width: $small) {

        display: block;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 1px;
        font-weight: 300
    }
    @media (min-width: $large) {

        display: block;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0px;
        font-weight: 400;
    }
}

.column-left,
.column-right {

    color: $white;

    @media (min-width:$small) {

        width: 50%;
        background-color: transparent;
    }

    @media (min-width: 1200px) {

        width: 40%;
        background-color: transparent;
    }

}

.column-left {

    margin-right:10%;
}

.button-wrapper {

    display: flex;

    @media (min-width: $small) {

        width:50%;
        padding-bottom: 50px;
        justify-content: flex-end;
        padding-right: 10%;
    }

}

.button {

    display: inline-block;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    padding: 26px 0;
    background-color: $orange;
    color: $white;
    border: 0px;
    text-transform: uppercase;

    @media (min-width: $small) {
        width: auto;
        padding: 15px 40px;
        margin-top: 55px;
    }
    @media (min-width: $large) and (min-height: 1000px) {
    
        font-size: 28px;
        padding: 25px 50px;
        margin-top: 120px;
    }

}

.arrow-down {

    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    width: 65px;
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
    background-color: $transparent;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    .arrow-down-white {

        height: 18px;
        align-self: center;
        margin-top: -5px;
        animation: arrow-bounce .8s infinite;

        &::before {

            font-family: $font-awesome;
            content:'\f078';
            color: $white;
            font-size:20px;
            line-height: 26px;
        }
    }


    @media (min-width: $small) {

        display: flex;
    }

}

@keyframes arrow-bounce {

    0% { margin-top: -5px }
    50% { margin-top: 3px }
    100% { margin-top: -5px }
}



